#game_drop{
  border-radius: 10px !important;
}

.game_frame{
  border-radius: 10px !important;
  background: #11111122;
  box-shadow: 0 10px 25px 1px black !important;
}

.columns{
  padding-top:20px !important;
}

p, h1, h2, h3, span, a, li {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.load_iframe_btn {
  padding: 12px 24px;
  font-size: 25px !important;
  font-weight: bold;
  color: white;
  border: none;
  outline: none;
  transition: all 0.4s ease;
  position: relative;
  transform: scale(1);
  box-shadow: none !important;
  border: 2px solid rgba(0, 255, 255, 0);
  border-radius: 7px !important;
}

.load_iframe_btn::before {
  content: "";
  position: absolute;
  inset: -8px;
  border-radius: 20px !important;
  border: 3px solid rgba(0, 255, 255, 0);
  pointer-events: none;
  transition: all 0.4s ease;
  opacity: 0;
  outline-offset: 5px;
  animation: none;
}

.load_iframe_btn:hover {
  border: 3px solid rgba(0, 255, 255, 0.7);
  border-radius: 15px !important;
  transform: scale(1.1);
  box-shadow: 0 0 50px rgba(0, 255, 255, 0.4) !important;
}

.load_iframe_btn:hover::before{
  opacity: 1;
  border-color: rgba(0, 255, 255, 0.5);
}

@keyframes btnScale {
  0% {
    transform: scale(1);
    box-shadow: 0 0 6px rgba(0, 255, 255, 0.2);
  }
  100% {
    transform: scale(1.1);
    box-shadow: 0 0 12px rgba(0, 255, 255, 0.4);
  }
}
